// Notify Overrides
$notie-color-success: $primary !default;
$notie-color-error:   $danger !default;
$notie-font-size-tablet: 0.9rem !default;
$notie-font-size-desktop: 1rem !default;
$notie-font-size-widescreen: 1.25rem !default;
